*{
	margin: 0;
	padding: 0;
	outline: 0;

}
body{
	font-family: arial;
	font-size: 18px;
	color: #444;
	background: #f7f9fb;
	box-sizing: border-box;
	margin: auto;
	position: relative;
}

.container{
	background-color: #fff;
	width: 500px;
	height: auto;
	margin: 20px auto;
	border: 2px solid #ddd;
	box-shadow: 2px 6px 4px rgb(0,0,0,0.05),
				-3px 6px 6px rgb(0,0,0,0.05),
				-2px -2px 10px rgb(0,0,0,0.05),
				5px 10px 8px rgb(0,0,0,0.05);	
}
.main-img img,
.smallImg img{
	width: 100%;
}
.main-img {
	height: 350px;
	margin-bottom: 10px;
	align-items: center;
	display: flex;
	justify-content: center;
	background: #717171;
	margin: 5px;
}
.main-img img{
	width: 70%;
	height: 70%;

}
.smallImg{
	display: grid;
	/*grid-template-columns: auto auto auto auto;*/
	grid-template-columns: repeat(4 , auto);
	grid-gap: 5px;
	background: #ddd;
	margin: 5px;
}
.smallImg img{
	background: #fff;
	height: 100px;
	cursor: pointer;
	background: #717171;
}
.fade-in{
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;

}

@keyframes fadeIn{
	to{
		opacity: 1; 
	}
}


@media (max-width: 767px){
	.container{
		width:90%;	
	}
	.smallImg{
		/*grid-template-columns: auto auto ;*/
		grid-template-columns: repeat(2 , auto);
	}
}